In [18]:
import pandas as pd
car_data=pd.read_csv("toyota.csv", index_col=0, na_values=["??", "???"])

In [19]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1436 entries, 13500 to 6950
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        1436 non-null   int64
 1   KM         1436 non-null   int64
 2   FuelType   1436 non-null   object
 3   HP         1436 non-null   int64
 4   MetColor   1436 non-null   int64
 5   Automatic  1436 non-null   int64
 6   CC         1436 non-null   int64
 7   Doors      1436 non-null   int64
 8   Weight     1436 non-null   int64
dtypes: int64(8), object(1)
memory usage: 112.2+ KB

# Converting variables data type 
### astype()
### df[""]=df[""].astype(dtype)

In [20]:
car_data["MetColor"]=car_data["MetColor"].astype("object")

In [21]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1436 entries, 13500 to 6950
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        1436 non-null   int64
 1   KM         1436 non-null   int64
 2   FuelType   1436 non-null   object
 3   HP         1436 non-null   int64
 4   MetColor   1436 non-null   object
 5   Automatic  1436 non-null   int64
 6   CC         1436 non-null   int64
 7   Doors      1436 non-null   int64
 8   Weight     1436 non-null   int64
dtypes: int64(7), object(2)
memory usage: 112.2+ KB

# Category vsObject data type
### ndarray.nbytes

In [22]:
car_data["MetColor"].nbytes

11488

In [23]:
car_data["MetColor"].astype("category").nbytes

1452

In [24]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1436 entries, 13500 to 6950
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        1436 non-null   int64
 1   KM         1436 non-null   int64
 2   FuelType   1436 non-null   object
 3   HP         1436 non-null   int64
 4   MetColor   1436 non-null   object
 5   Automatic  1436 non-null   int64
 6   CC         1436 non-null   int64
 7   Doors      1436 non-null   int64
 8   Weight     1436 non-null   int64
dtypes: int64(7), object(2)
memory usage: 112.2+ KB

In [25]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1436 entries, 13500 to 6950
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        1436 non-null   int64
 1   KM         1436 non-null   int64
 2   FuelType   1436 non-null   object
 3   HP         1436 non-null   int64
 4   MetColor   1436 non-null   object
 5   Automatic  1436 non-null   int64
 6   CC         1436 non-null   int64
 7   Doors      1436 non-null   int64
 8   Weight     1436 non-null   int64
dtypes: int64(7), object(2)
memory usage: 112.2+ KB

#Replace

In [26]:
# car_data["Doors"].replace("three", 3, inplace=True)

In [27]:
car_data["Doors"]=car_data["Doors"].astype('int64')

In [28]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1436 entries, 13500 to 6950
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        1436 non-null   int64
 1   KM         1436 non-null   int64
 2   FuelType   1436 non-null   object
 3   HP         1436 non-null   int64
 4   MetColor   1436 non-null   object
 5   Automatic  1436 non-null   int64
 6   CC         1436 non-null   int64
 7   Doors      1436 non-null   int64
 8   Weight     1436 non-null   int64
dtypes: int64(7), object(2)
memory usage: 112.2+ KB

# Check anymissing value
### df.isnull().sum()

In [29]:
car_data.isnull().sum()

Age          0
KM           0
FuelType     0
HP           0
MetColor     0
Automatic    0
CC           0
Doors        0
Weight       0
dtype: int64