In [27]:
import pandas as pd
car_data=pd.read_csv("toyota.csv", index_col=0)
print(car_data)

       Age     KM FuelType   HP  MetColor  Automatic    CC  Doors  Weight
Price
13500   23  46986   Diesel   90         1          0  2000      3    1165
13750   23  72937   Diesel   90         1          0  2000      3    1165
13950   24  41711   Diesel   90         1          0  2000      3    1165
14950   26  48000   Diesel   90         0          0  2000      3    1165
13750   30  38500   Diesel   90         0          0  2000      3    1170
...    ...    ...      ...  ...       ...        ...   ...    ...     ...
7500    69  20544   Petrol   86         1          0  1300      3    1025
10845   72  19000   Petrol   86         0          0  1300      3    1015
8500    71  17016   Petrol   86         0          0  1300      3    1015
7250    70  16916   Petrol   86         1          0  1300      3    1015
6950    76      1   Petrol  110         0          0  1600      5    1114

[1436 rows x 9 columns]

In [28]:
# shallow copy
samp=car_data.copy(deep=False)
# It only creates a new variable that shares the reference of the original object
#any changes madee to a copy of object will be reflected in the original object as well

In [29]:
# Deep copy
samp=car_data.copy(deep=True)
# In case of deep copy, a copy of object is copied in other object with no ref to the org
#any changes madee to a copy of object will not be reflected in the original object as well

In [30]:
car_data.index

Index([13500, 13750, 13950, 14950, 13750, 12950, 16900, 18600, 21500, 12950,
       ...
        9950,  8950,  8450,  8950,  8450,  7500, 10845,  8500,  7250,  6950],
      dtype='int64', name='Price', length=1436)

In [31]:
car_data.columns

Index(['Age', 'KM', 'FuelType', 'HP', 'MetColor', 'Automatic', 'CC', 'Doors',
       'Weight'],
      dtype='object')

In [32]:
car_data.size

12924

In [33]:
car_data.shape

(1436, 9)

In [34]:
car_data.memory_usage()

Index        11488
Age          11488
KM           11488
FuelType     11488
HP           11488
MetColor     11488
Automatic    11488
CC           11488
Doors        11488
Weight       11488
dtype: int64

In [35]:
car_data.ndim

2

In [36]:
car_data.head(6)

       Age     KM FuelType  HP  MetColor  Automatic    CC  Doors  Weight
Price
13500   23  46986   Diesel  90         1          0  2000      3    1165
13750   23  72937   Diesel  90         1          0  2000      3    1165
13950   24  41711   Diesel  90         1          0  2000      3    1165
14950   26  48000   Diesel  90         0          0  2000      3    1165
13750   30  38500   Diesel  90         0          0  2000      3    1170
12950   32  61000   Diesel  90         0          0  2000      3    1170

In [37]:
car_data.tail(5)

       Age     KM FuelType   HP  MetColor  Automatic    CC  Doors  Weight
Price
7500    69  20544   Petrol   86         1          0  1300      3    1025
10845   72  19000   Petrol   86         0          0  1300      3    1015
8500    71  17016   Petrol   86         0          0  1300      3    1015
7250    70  16916   Petrol   86         1          0  1300      3    1015
6950    76      1   Petrol  110         0          0  1600      5    1114

In [41]:
car_data.iat[5, 6]

np.int64(2000)

In [43]:
car_data.loc[:, "FuelType"]

Price
13500    Diesel
13750    Diesel
13950    Diesel
14950    Diesel
13750    Diesel
          ...
7500     Petrol
10845    Petrol
8500     Petrol
7250     Petrol
6950     Petrol
Name: FuelType, Length: 1436, dtype: object